@import url("https://fonts.googleapis.com/css?family=Barlow|Carter+One&display=swap");

#main {
  margin: 12%;
  background-color: #fafeff;
  padding: 50px 0px 50px 0px;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #da582f;
}
.menu {
  font-family: "Carter One", cursive;
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  color: #474747;
  text-decoration: none;
}

.menu:hover {
  color: white;
  background-color: #ca1517;
  border-radius: 30px;
}

.atual {
  color: white;
  background-color: #ca1517;
  border-radius: 30px;
}

.bullet {
  font-family: "Carter One", cursive;
  font-size: 22px;
  margin-right: 3px;
  margin-left: 3px;
}

#navigation {
  text-align: center;
}
#dynamic {
  margin-top: 20px;
  padding: 0px 12% 0px 12%;
}

.singleitem {
  margin-top: 13px;
}

.singleitem:hover{
    background-color: yellow;
    color:red;
    border-radius: 5px;
    cursor: pointer;
}

.menuitem {
  font-family: "Barlow";
  font-weight: 600;
  color: rgb(160, 95, 95);
  font-size: 22px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  padding-bottom: 4px;
  margin-right: 10px;
}
.p {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ca1517;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  padding: 2px 7px 2px 7px;
}
.m {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #3f81c2;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  padding: 2px 7px 2px 7px;
}
.g {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #039d3d;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  padding: 2px 7px 2px 7px;
}
.singleitem {
  border-bottom: 1px;
  border-color: #bababa;
  border-bottom-style: solid;
}

.text {
  margin: 10px 0px 7px 0px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #474747;
}

#nordestina {
  display: none;
}

#petisco {
  display: none;
}